<!DOCTYPE html>
<html>
<head>
    <title>Line Chart Analyzer</title>
    <link href='/stylesheets/main.css' rel='stylesheet' type='text/css'/>
    <link href='/stylesheets/extra.css' rel='stylesheet' type='text/css'/>
    <link
            href='/lib/jquery.nouislider/jquery.nouislider.css'
            rel='stylesheet'
            type='text/css'
    />

</head>
<body>


<div id='title_container'>
    <h2>Line Chart Analyzer</h2>
    These images were detected. Select a line chart to analyze.
</div>
<main></main>

<script src='/lib/jquery-3.5.1.min.js'></script>
<script src='/lib/jquery.nouislider/jquery.nouislider.js'></script>
<script src='/lib/jss.js'></script>

<script src='/src/defaults.js'></script>
<script src='/src/popup.js' type='module'></script>
</body>
</html>
